@use "mixins/rem" as * ;
@use "mixins/includes" as * ;
@use "mixins/media-query" as * ;


.header {

  &__wrapper {
    width: 100%;
    @include flex-center-y;
    justify-content: space-between;
    gap: rem(40px);
    padding: rem(20px) 0;

    &-left,
    &-right {
      @include flex-center-xy;
      gap: rem(40px);
    }
    .logo {
      display: block;
      height: vw(60px);
      width: auto;

      svg {
        width: auto;
        height: 100%;
      }
    }

    .link {
      font-size: vw(16px);
      line-height: 100%;
      letter-spacing: vw(0.16px)
    }

  }
}

.lang-changer {
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  text-transform: uppercase; 
  border-radius: rem(40px);
  border: 1px solid var(--color-lighter);
  transition: border var(--transition);

    .lang {
      font-weight: 600;
      color: var(--color-text);
      cursor: pointer;
      user-select: none;
      transition: opacity 0.4s;
      display: inline-block;
      gap: rem(4px);
      padding: rem(4px);

      &:first-child {
        padding-left: 12px;
      }
 
      &:last-child {
        padding-right: 12px;
      }      

      &:not(.current) {
        color: var(--color-lighter);
        cursor: pointer;
      }

    }
    a:hover {
      opacity: 0.5;
    }
}