// src/scss/mixins/_rem.scss
@use "sass:math";

$rem-base: 16px !default;

@function rem($px, $base: $rem-base) {
  @return math.div($px, $base) * 1rem;
}

$vw-base: 1920px !default;

@function vw($px, $base: $vw-base) {
  @return math.div($px, $base) * 100vw;
}